:root {
    --cor-roxo-primario: #a347ff;
    --cor-roxo-secundario: #7000ac;
    --cor-preto-esfumacado: #121212;
    --cor-preto-claro: #1f1f1f;
    --cor-preto: #0a0a0a;
    --cor-cinza-escuro: #1e1e1e;
    --cor-branco: #fff;
    --cor-cinza: rgba(255, 255, 255, 0.1);
    --cor-branco-fraco: rgba(255, 255, 255, 0.6);
    --cor-vermelho: #d9534f;
    --cor-verde: #3d8b40;
    --fonte-principal: "Roboto Slab", sans-serif;
    --fonte-titulo: "Chakra Petch", sans-serif;
}

.missoes-container {
    width: 80%;
    max-width: 80%;
    margin: 0 auto;
    padding-top: 45px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.missao-card {
    width: 23rem;
    height: 14rem;
    border: 1px solid var(--cor-cinza-escuro);
    background-size: cover;
    background-position: center center;
    box-shadow: 0 4px 8.2px #00000040;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}

#nostradamus {
    background-image: url(missoes-bg/nostradamus.webp);
}

#carpazinha{
    background-image: url(missoes-bg/carpazinha.webp);
}

.card-texto {
    display: flex;
    justify-content: space-between;
    text-align: end;
    box-shadow: inset 5px 0px 30px var(--cor-cinza-escuro);
    align-items: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.missao-titulo {
    color: var(--cor-branco);
    font-size: 24px;
    font-weight: 500;
    width: 232px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

a {
    text-decoration: none;
}
