:root {
    --cor-roxo-primario: #a347ff;
    --cor-roxo-secundario: #7000ac;
    --cor-preto-esfumacado: #121212;
    --cor-preto-claro: #1f1f1f;
    --cor-preto: #0a0a0a;
    --cor-cinza-escuro: #1e1e1e;
    --cor-branco: #fff;
    --cor-cinza: rgba(255, 255, 255, 0.1);
    --cor-branco-fraco: rgba(255, 255, 255, 0.6);
    --cor-vermelho: #d9534f;
    --cor-verde: #3d8b40;
    --fonte-principal: "Roboto Slab", sans-serif;
    --fonte-titulo: "Chakra Petch", sans-serif;
}

*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background-color: var(--cor-cinza-escuro);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--cor-roxo-secundario);
    border-radius: 10px;
    border: 3px solid var(--cor-preto-claro);
}
