:root {
    --cor-roxo-primario: #a347ff;
    --cor-roxo-secundario: #7000ac;
    --cor-preto-esfumacado: #121212;
    --cor-preto-claro: #1f1f1f;
    --cor-preto: #0a0a0a;
    --cor-cinza-escuro: #1e1e1e;
    --cor-branco: #fff;
    --cor-cinza: rgba(255, 255, 255, 0.1);
    --cor-branco-fraco: rgba(255, 255, 255, 0.6);
    --cor-vermelho: #d9534f;
    --cor-verde: #3d8b40;
    --fonte-principal: "Roboto Slab", sans-serif;
    --fonte-titulo: "Chakra Petch", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--fonte-principal);
    color: var(--cor-branco);
    background-color: var(--cor-preto-esfumacado);
}

.logo img:hover,
.agentes:hover,
.missoes:hover,
.cris:hover,
.arsenal:hover,
.login img:hover,
.relatorio:hover {
  transform: scale(1.05);
  transition: 0.2s ease-in-out;
}

.header {
    background-color: var(--cor-preto-claro);
    font-family: var(--fonte-titulo);
    font-size: 700;
}

.header a {
    color: var(--cor-branco);
    text-decoration: none;
    font-size: 24px;
}

.botoes-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}

.logo img {
    width: 100px;
    height: 100px;
}

.login img {
    width: 75px;
    height: 75px;
}

.relatorio-header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-roxo-secundario);
    color: var(--cor-branco);
}

.main {
    width: 70%;
    margin: 0 auto;
}

.rodape {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    bottom: 0%;
    width: 100%;
    background-color: var(--cor-cinza-escuro);
    border-top: 4px solid var(--cor-roxo-secundario);
    margin-top: 45px;
}

.rodape p {
    color: var(--cor-roxo-secundario);
    font-family: "Roboto Slab", sans-serif;
    font-size: 24px;
}